
textarea {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
}

input[type='text'] {
    margin-bottom: 10px;
    margin-top: 10px;
}

.control {
    width: 99%;
}

textarea {
    margin-top: 20px;
}

.control > button {
   
}

button {
    margin-right: 10px;
}